<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    
    <h:head> 
    
      <title>Fédération de Judo Nord Pas De Calais</title>
    
      <h:outputStylesheet   
          library="css" name="stylesExos.css"/> 
    
    </h:head> 
    
    <h:body>
        
       
       <f:event type="preRenderView" listener="#{controleur00.initialiseSession()}" />
        
       <ui:include src="c00_menu.xhtml" />
      
      
       <p:graphicImage value="/resources/images/volcan.png"/>
    
    </h:body> 

</html>

