<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      
      xmlns:ui="http://java.sun.com/jsf/facelets">
    
  <h:head>
      <title>Consultation des clubs</title>
     <h:outputStylesheet  library="css" name="stylesExos.css"/> 
  </h:head>
    
  <h:body> 
      
    <ui:include src="c00_menu.xhtml" />
      
    <h:form>  
        
      <br/>          
      <p:outputLabel for="it-codeclub" value="  Code du Club" />     
      <p:inputText   id ="it-codeclub"  title="Saisir le code du Club"  value="#{controleur01.codeclub}"/>     
                
      <p:commandButton value="OK" action="#{controleur01.rechercheClub()}"  update="@all" />
      
      <p:panelGrid columns="2" styleClass="ui-panelgrid-blank" >
      
          <p:panelGrid columns="2"  styleClass="ui-panelgrid-blank"  style=" width: 500px;" >  
            
          <h:outputText value="Nom du Club" />
          <h:outputText value="#{controleur01.club.nomClub}" />
             
          <h:outputText value="Adresse du Club"/>
          <h:outputText value="#{controleur01.club.adrClub}"/>
          
          <h:outputText value="Effectif"/>
          <h:outputText value="#{controleur01.club.nbJudokas()}" />  
          
          <h:outputText value="Effectif Femmes"/>
          <h:outputText value="#{controleur01.club.nbJudokas('F')}" />  
          <h:outputText value="Effectif Hommes"/>
          <h:outputText value="#{controleur01.club.nbJudokas('M')}" />  
          
          <h:outputText value="Moyenne d'age"/>
          <h:outputText value="#{controleur01.club.ageMoyen()}">
              <f:convertNumber pattern="#0.0 ans" />
          </h:outputText>
          
          <h:outputText value="Poids moyen femmes"/>
          <h:outputText value="#{controleur01.club.poidMoyen('F')}">
              <f:convertNumber  pattern="#0.0 kg" />
          </h:outputText>
          
          <h:outputText value="Poids moyen hommes"/>
          <h:outputText value="#{controleur01.club.poidMoyen('M')}">
              <f:convertNumber pattern="#0.0 kg" />
          </h:outputText> 
              
    
       </p:panelGrid> 
      
          <p:panelGrid  styleClass="ui-panelgrid-blank">   
              <p:graphicImage value="/resources/images/judo1.jpg" width="720" height="250" />
          </p:panelGrid> 
      
      </p:panelGrid>  
      
      <p:dataTable value="#{controleur01.club.lesJudokas}" var="unJudoka" 
                   paginator="true" paginatorPosition="top" scrollHeight="true" rows="5" >
               
          <f:facet name="header">Liste des judokas du #{controleur01.club.nomClub}</f:facet> 
             <p:column headerText="Id" style="width: 8%;"> #{unJudoka.id} </p:column>      
             <p:column headerText="Nom">       #{unJudoka.nom}            </p:column>
             <p:column headerText="Prénom">    #{unJudoka.prenom}         </p:column>          
             <p:column headerText="Genre">     #{unJudoka.sexe=='F'?'Féminin':'Masculin'} </p:column>
             <p:column headerText="Age">       #{unJudoka.age} ans        </p:column>
             <p:column headerText="Poids">     #{unJudoka.poids} kg       </p:column>
             <p:column headerText="Catégorie"> #{unJudoka.categorie}      </p:column>
             <p:column headerText="Ceinture" style=" width: 8%;"> 
           
             <h:outputText value="................." 
                           style="background-color:#{ unJudoka.codeCouleurCeinture}; " />
         
         </p:column>
             <p:column headerText="Victoires"> #{unJudoka.nbVictoires} </p:column>
            
          <f:facet name="footer">Le club totalise #{controleur01.club.totalVictoires} victoires</f:facet> 
            
        </p:dataTable>
       
    </h:form>
  </h:body>
</html>

