<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
     <h:head>
      <title>Ajout d'un Club</title>
     <h:outputStylesheet  library="css" name="stylesExos.css"/> 
  </h:head>
    
  <h:body> 
      
    <ui:include src="c00_menu.xhtml" /> <br/> 
    
    
    <h:form> 
             
      <p:outputLabel for="it-codeclub" value="  Code du Club" />     
      <p:inputText   id ="it-codeclub"  title="Saisir le code du Club"  
                     value="#{controleur07.codeclub}"/>     
                
      <p:commandButton value="OK" action="#{controleur07.rechercheClub()}"  update="infoClub" />
      
      <p:panelGrid  id="infoClub" columns="2" styleClass="ui-panelgrid-blank"  >
      
         <p:outputLabel  for="it-nomclub" value="Nom du Club" />
         <p:inputText   id="it-nomclub"   
                        title="Saisir le nom du Club" value="#{controleur07.club.nomClub}" />
             
         
         <p:outputLabel  for="it-adrclub" value="Adresse du Club" />
         <p:inputText    id="it-adrclub"   
                         title="Saisir le nom du Club" value="#{controleur07.club.adrClub}" /> 
      </p:panelGrid>
    
     <p:commandButton value="OK" action="#{controleur07.modifierClub()}"  update="@all" />
    
    </h:form> 
    
    
   </h:body>
</html>

